{% block header %}
    <h3>{{ title }}</h3>
{% endblock %}

<form method="post" action="/check">
    <div>
        <input type="number" name="{{ name }}"/>
    </div>
    <br>
    <div>
        <button type="submit">Verificar</button>
    </div>
</form>